<script src="/public/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/wow.min.js"></script>
<script src="/public/js/jquery-price-slider.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/jquery.scrollUp.min.js"></script>
<script src="/public/js/meanmenu/jquery.meanmenu.js"></script>
<script src="/public/js/counterup/jquery.counterup.min.js"></script>
<script src="/public/js/counterup/waypoints.min.js"></script>
<script src="/public/js/counterup/counterup-active.js"></script>
<script src="/public/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/public/js/sparkline/jquery.sparkline.min.js"></script>
<script src="/public/js/sparkline/sparkline-active.js"></script>
<script src="/public/js/flot/jquery.flot.js"></script>
<script src="/public/js/flot/jquery.flot.resize.js"></script>
<script src="/public/js/flot/flot-active.js"></script>
<script src="/public/js/knob/jquery.knob.js"></script>
<script src="/public/js/knob/jquery.appear.js"></script>
<script src="/public/js/knob/knob-active.js"></script>
<script src="/public/js/chat/jquery.chat.js"></script>
<script src="/public/js/wave/waves.min.js"></script>
<script src="/public/js/wave/wave-active.js"></script>
<script src="/public/js/icheck/icheck.min.js"></script>
<script src="/public/js/icheck/icheck-active.js"></script>
<script src="/public/js/todo/jquery.todo.js"></script>
<script src="/public/js/login/login-action.js"></script>
<script src="/public/js/plugins.js"></script>
<script src="/public/js/main.js"></script>